#header
{
    background-color: #0277BD;
    text-align: center;
    font-size: 20pt;
}

#footer
{
    background-color: #0277BD;
    text-align: center;
    font-size: 20pt;

}

#menu_btn
{
    background-color: #0277BD;
    text-align: center;
    font-size: 20pt;
    opacity: 0.0;
    -webkit-animation: infinite;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */

    animation-name: example;
}

@-webkit-keyframes example {
    0%   {opacity: 0.0; }
    50%   {opacity: 1.0; }
    100% {opacity: 0.0;}
}



#stos:hover
{
    -webkit-filter:  blur(10px);
}

#spacer
{
    background: -webkit-linear-gradient(lightblue, white); 
    height: 4px;
    width: 850px;
}

h1 {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
    line-height: 26.4px;
}

x {
    font-family: 'Century Gothic';
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.transparentBackground tr,
.transparentBackground td { background: transparent !important; }

.myblurrybackground
{
    -webkit-transition: all 0.5s ease;

    -webkit-filter:  blur(10px);



}

.ui-widget-overlay {
    filter:alpha(opacity=10);  /* works in IE 7 */
    opacity: 0.9 !important;  /* works in Firefox */
}

.unblurrybackground
{
    -webkit-transition: all 0.5s ease;

    -webkit-filter:  blur(0px);


}

.ui-datatable-empty-message {
    display: none;
}

.ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit {
    background-image: none!important;
    background-color: transparent !important; 

}


.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: hidden !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0 !important;
    display: none !important;


}

#dialog1.ui-dialog.ui-widget-content {
    background-image: none;
    background-color: #0277BD;

    opacity: 0.8 !important;


}

#action_dialog.ui-dialog.ui-widget-content {
    background-image: none;
    background-color: transparent;

    opacity: 0.8 !important;


}

.ui-carousel
{
    border-color: transparent !important;
}


.ui-carousel-header {
    background-color: #0277BD !important;

    background-image: none !important;
    border-color: transparent !important;
    box-shadow: 1px 1px 5px lightblue;

}

.ui-carousel-header-title
{
    color: transparent !important;

    text-shadow: 1px 1px #FFFFFF;  

    font-family: 'Century Gothic';
    font-size: 20px;


    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;

}



.ui-carousel-button ui-carousel-prev-button ui-icon ui-icon-circle-triangle-w
{
    opacity: 0.4 !important;

}

.ui-icon-plusthick
{
    display: none !important;
}

.ui-carousel-item{

    border-color: transparent !important;
}

.top {
    filter:alpha(opacity=80);
    opacity:0.8;
    padding:50px 0 0 50px;
    z-index: 1000;
    height: 11px;
}

.panelGridCenter {
    margin: 0 auto;
}

myFieldset .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    background-color: transparent !important;
    border-color: lightblue !important;

    border-radius: 5px;

}

myFieldset .ui-fieldset, .ui-fieldset {
    background-color: transparent !important;
    border-color: transparent !important;


}

.ui-fieldset .ui-state-default {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: 1px 1px 5px lightblue;
}

myFieldset .ui-selectonemenu
{
    border: none !important;
}

.klawiszClose
{
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0 !important;
    border-style: none !important;

}

.ui-carousel-next-button 
{
    background-color: white !important;
}
.ui-carousel-prev-button 
{
    background-color: white !important;
}

.ui-carousel-page-link
{
    display: none !important;
}


.ui-tabs .ui-tabs-panel {
    padding: 0px 0px !important;
    background: none !important;
    border: 0 !important;

}

.ui-tabs-nav {
    display: none!important;
}

.ui-layout-bd { 
    border: 0 !important; 
    margin: 0 !important;
}

.ui-panel .ui-panel-content {
    padding: 0px 0px !important;
}

.ui-datatable .ui-state-hover {

    background:rgba(255,0,0,0.6) !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*
.ui-datatable .ui-state-active {
   background: lightcoral !important;
   border: none !important;
}

.ui-datatable .ui-state-disabled {
   background: lightcoral !important;
   border: none !important;
}



.ui-datatable .ui-state-highlight {
   background: white !important;
  
}


*/

.ui-stack {
    bottom: 128px !important;
    right: 240px !important;
}

body{
    margin: 0;
}
#apps_menu{
    height: 60px;
    width: 45%;
    border: none;
    background-color: #0288D1;
    float: left;
}
#tweaks_menu{
    height: 60px;
    width: 45%;
    border: none;
    background-color: #0288D1;
    float: left;
}

#more_menu{
    height: 60px;
    width: 10%;
    border: none;
    background-color: #0288D1;
    float: right;
}

#apps_menu, #tweaks_menu, #more_menu {
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    box-sizing: border-box;   
}

.ui-button-text
{
  box-shadow: transparent !important;
}

.ui-editor
{
    background: transparent !important;
    border: 4 !important;
}


.ui-editor-toolbar
{
    background: transparent !important;
    border: 0 !important;
   zoom: 160% !important;
   
}

.ui-editor-button
{
   
   opacity: 80% !important;
}